/*  Fonts:
    font-family: 'Forum', cursive;
    font-family: 'Inter', sans-serif;
*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Inter', sans-serif;
}

/*Header*/
.header{
    width: 100%;
    background-color: #0C0C0E;
    height: 90px;
    position: relative;
}
.header_inner{
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}
.header_logo{
    font-family: 'Forum', cursive;
    font-size: 30px;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
}
.nav{
    display: inline-block;
    width:50%;
    vertical-align: middle;
    right: 0;
}
.nav_link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: auto 30px auto 0;
}

/*welcome*/
.welcome{
    background: url("images/welcome/library_back.jpg") center no-repeat;
    background-size: cover;
    width:100%;
    height: 88vh;
    position: relative;
}
.welcome_block{
    position: absolute;
    left: 0;
    top: 37%;
    height: 220px;
    width: 600px;
    box-sizing: border-box;
    padding: 35px 40px;
    background-color: #0C0C0E;
}
.welcome_text{
    color: #fff;
    font-family: 'Forum', cursive;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

/*about and section*/
.section{
    margin-top: 60px;
    padding: 0 20px;
}
.section--about{
    margin-top: 20px;
}
.section_title{
    text-align: center;
    font-size: 40px;
    font-family: 'Forum', cursive;
    position: relative;
    color: #0C0C0E;
    padding-bottom: 10px;
    letter-spacing: 2px; 
    margin-bottom: 36px;
}
.section_title::after{
    content: "";
    position: absolute;
    width: 50px;    
    height: 1px;
    background-color: #0C0C0E;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%); 
}
.section_title_text{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.section_title_text--letspace{
    letter-spacing: 2px;
}

/*about slider*/
.slider{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.slider_dots{
    text-align: center;
    height: 16px;
}
.dot{
    display: inline-block;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: #0C0C0E;
    
    color: transparent;
    margin-right: 10px;
}
.dot:last-child{
    margin-right: 0;
}
.dot.active{
    background-color: #BB945F;
}

/*favorites*/
/*radio butons and title*/
.favorites{
    display: flex;
    justify-content: space-between;
}
.favorites_col:last-child{
    margin-right: 30px;
}
.favorites_titletext{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}
.buttons_fav{
    margin-bottom: 40px;
}
.buttons_fav input{
    border-color: #000;
}
.buttons_fav input[type=radio] {
	display: none;
}
.favorites_label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0;
	top: 4px;
	background: url(images/radio/no-cheked.png) 0 0 no-repeat;
}
.buttons_fav input[type=radio]:checked + label:before {
	background: url(images/radio/cheked.png) 0 0 no-repeat;
}
.favorites_label{
    font-size: 20px;
    padding-left: 5px;
    margin-right: 95px;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
.favorites_label:last-child{
    margin-right: 0;
}
.favorites_label.active{
    font-weight: 700;
}

/*favorites items*/
.favorites_item{
    width: 550px;
    height: 555px;
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 20px 170px 20px 15px;
    position: relative;
    margin-bottom: 40px;
}
.favorites_title{
    font-family: 'Forum', cursive;
    font-size: 20px;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 30px;
    letter-spacing: 2px; 
}
.favorites_title::after{
    position: absolute;
    content: "";
    width: 60px;
    height: 1px;
    background-color: #BB945F;
    bottom: 0;
    left: 0;
}
.favorites_name{
    letter-spacing: 2px; 
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}
.favorites_name p{
    text-transform: none;
}
.favorites_img{
    display: block;
    position: absolute;
    bottom: 0;
    right: -40px;
}
.favorites_text{
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 2.8;
    text-transform: capitalize;
}
.favorites_btn{
    width: 75px;
    height: 30px;
    border: 1px solid #0C0C0E;
    position: absolute;
    left: 15px;
    bottom: 20px;
    color: #0C0C0E;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    background: none;
    border-radius: 3px;
}
.favorites_btn.btn_own{
    border-color: #BB945F;
    color: #BB945F;
}

/*shop*/
.shop_inner{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.shop_col_title{
    color: #BB945F;
    font-family: 'Forum', cursive;
    font-size: 40px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.shop_item{
    margin-bottom: 40px;
}
.shop_dish{
    position: relative;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 20px;
    width: 410px;
}
.shop_dish::after{
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    width: 100px;
    height: 1px;
    background-color: #BB945F;
    margin: 0 50px;
}
.shop_price{
    display: inline-block;
    font-size: 20px;
    font-family: 'Forum', cursive;
    letter-spacing: 2px;
}